.currentSeries, .watchedSeries {
    display: flex;
}
.currentSeries .tile, .watchedSeries .tile {
    display: flex;
    flex-direction: column;
}
.currentSeries .tile:not(:last-child), .watchedSeries .tile:not(:last-child)  {
    margin-right: 25px;
}
.currentSeries .tile img, .watchedSeries .tile img {
    width: 175px;
    margin-bottom: 10px;
}