.list {
    display: flex;
    overflow-x: scroll;
}
.list .tile {
    display: flex;
    flex-direction: column;
}
.list .tile:not(:last-child) {
    margin-right: 25px;
}
.list .tile img {
    width: 175px;
    margin-bottom: 10px;
}