.search form {
    display: flex;
    align-items: flex-start;
    position: relative;
}
.search form input {
    margin: 0px;
    width: 300px;
    padding-left: 40px;
    border: none;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
}
.search form img {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
}
.blocSearch {
    position: absolute;
    width: 100%;
    left: 0;
    top: 101%;
    box-sizing: border-box;
    z-index: 9999;
}
.blocSearch:before {
    content: '';
    width: 100vW;
    height: 100vH;
    background-color: rgb(0 0 0 / 70%);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    top: 0;
}
.contentSearch {
    background-color: #fff;
    padding: 35px;
}
.closeBTN {
    position: absolute;
    right: 30px;
    top: 20px;
    width: 30px;
    height: 30px;
    border: 2px solid #cccccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.closeBTN img {
    width: 25px;
}