.search form {
    display: flex;
    align-items: flex-start;
    position: relative;
}
.search form input {
    margin: 0px;
    width: 300px;
    padding-left: 40px;
    border: none;
    border-bottom: 1px solid #9c9c9c;
}
.search form img {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
}