@import "../../../../App.scss";

.navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .button.watched.inWatched, .button.current.inCurrent {
        background-color: $main-color;
        pointer-events: none;
    }

    .button.watched.inWatched img, .button.current.inCurrent img {
        filter: invert(1);
    }

}

.navigation .inList, 
.list.watchedList .tile .navigation,
.navigation .button.current.inWatched,
.list.currentList .tile .navigation .button.current.inCurrent,
.latestMovie .content .navigation .button.current.inWatched {
    display: none;
}

.latestMovie .content .navigation  .button.current.inCurrent, .latestMovie .content .navigation .button.watched.inWatched {
    background-color: $main-color;
    color: #fff;
    pointer-events: none;
}