.navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.navigation button.hide, .navigation span.hide {
    display: none;
}
.navigation span.active {
    color: #1daa14;
}