.navigation {
    
    display: flex;

    a {
        margin: 0px 5px;
        text-decoration: none;
        color: #000;
        transition: all 0.3s;
    }

    a.hide {
        display: none;
    }

    a:hover {
        color: #8a8a8a;
    }

}