body {
    padding: 0px;
    margin: 0px;
    font-family: 'Open sans';
}
h1 {
    margin: 0px;
    font-weight: 700;
    color: #000000;
    line-height: 1.2em;
    font-size: 2.1em;
}
h2 {
    margin-top: 0px;
    margin-bottom: 10px;
}
.bloc:not(:last-child) {
    margin-bottom: 25px;
}

/* -- -- APP -- -- */ 
.App {
    padding: 50px;
    padding-bottom: 130px;
    min-height: 100vH;
    box-sizing: border-box;
    display: flex;
}

/* -- -- PAGES -- -- */ 
.page {
    position: relative;
    width: 100%;
}

/* -- -- FORM -- -- */ 
.formContainer {
    border: 1px solid #dfdfdf;
    width: 420px;
    min-height: 375px;
    padding: 35px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 5px 20px -5px rgb(0 0 0 / 10%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.formContainer h1 {
    margin-bottom: 25px;
}
.formContainer form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 25px;
}
.formContainer form button {
    background-color: #3397d2;
    border: none;
    padding: 10px 25px;
    font-size: 1em;
    font-weight: 700;
    color: #fff;
    border-radius: 3px;
    font-family: 'Open sans';
}

form input {
    margin-bottom: 15px;
    padding: 10px 15px;
    width: 100%;
    box-sizing: border-box;
}

header form {
    margin-top: 25px;
}

.blocSearch {
    overflow-x: scroll;
}