$main-color: #5a2bec;


body {
    padding: 0px;
    margin: 0px;
    font-family: 'Open sans';
}
h1 {
    margin: 0px;
    font-weight: 700;
    color: #000000;
    line-height: 1.2em;
    font-size: 2.1em;
}
h2 {
    margin-top: 0px;
    margin-bottom: 15px;
}
.bloc:not(:last-child) {
    margin-bottom: 35px;
}

/* -- -- APP -- -- */ 
.App {
    padding: 75px;
    padding-bottom: 130px;
    min-height: 100vH;
    box-sizing: border-box;
    display: flex;
}

/* -- -- PAGES -- -- */ 
.page {
    width: 100%;
}

.page.connexion {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* -- -- FORM -- -- */ 
.formContainer {
    border: 1px solid #dfdfdf;
    width: 420px;
    min-height: 375px;
    padding: 35px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 10%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h1 {
        margin-bottom: 25px;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 25px;
    }

    input {
        margin-bottom: 15px;
        padding: 10px 15px;
        width: 100%;
        box-sizing: border-box;
    }
}

.fondConnexion {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    height: 100%;

    img {
        position: absolute;
        width: 100%;
        opacity: 0.6;
    }
}

.btn {
    cursor: pointer;
    border-radius: 3px;
    line-height: 1em;
    font-size: 1em;
    font-family: 'Open sans';

    &.primary {
        background-color: $main-color;
        color: #fff;
        border: none;
        font-weight: 700;
        padding: 15px 25px;
    }

    &.secondary {
        font-size: 0.9rem;
        border: 1px solid #828282;
        background-color: #fff;
        padding: 10px 25px;
    }
}