body {
    padding: 0px;
    margin: 0px;
    font-family: 'Open sans';
}
body h1 {
    margin: 0px;
    font-family: 'Open sans';
    font-weight: 700;
    color: #525a64;
}

/* -- -- APP -- -- */ 
.App {
    padding: 50px;
    padding-bottom: 130px;
    min-height: 100vH;
    box-sizing: border-box;
    display: flex;
}

/* -- -- FORM -- -- */ 
form input {
    margin-bottom: 15px;
    padding: 10px 15px;
    width: 100%;
    box-sizing: border-box;
}

header form {
    margin-top: 25px;
}

.blocSearch {
    overflow-x: scroll;
}

.sorties, .monTop, .search, .result {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow-x: scroll;
}
.sorties img, .monTop img, .search img, .result img {
    width: 180px;
}
.sorties img:not(:last-child), .monTop img:not(:last-child), .search img:not(:last-child), .result img:not(:last-child) {
    margin-right: 20px;
}